{% extends "base.html" %}

{% block content %}

		<!-- 分页导航 -->
		
		<div class="container">
			<div class="row">
				<div class="main " >
					
						<h3>登录</h3>
						
							<form action="" method="">
						
								<div class="form-group">
									<label for="username">用户名:</label>
									<input class="form-control"type="text" name="username" id="username" placeholder="请填写您的用户名" />
								</div>
								<div class="form-group">
									<label for="password">密码:</label>
									<input class="form-control"type="password" name="password" id="password" placeholder="设置一个密码"/>
								</div>
								<div class="form-group">
									<input class="btn" type="submit" name="submit" id="btn1" value="立即登录" />
								</div>
							</form>
				</div>
			</div>
		</div>
{% endblock %}
